:root {
    --grey: #242424;
    --blue: #008DD3;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Roboto', Helvetica, Arial;
}

#main {
    margin: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "nav main";
}

#title {
    color: var(--grey);
    font-size: 2em;
    font-family: 'Roboto', Helvetica, Arial;
}

#title span {
	color: var(--blue);
}

nav {
    grid-area: nav;
    background-color: var(--grey);
    font-size: 1.2em;
    font-weight: 700;
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}

nav img {
    width: 100%;
}

nav .nav-item {
    padding: 10px 20px;
    margin-bottom: 10px;
    animation: background-default 0.25s linear forwards;
}

nav .nav-item:first-of-type {
    margin-top: 30px;
}

nav .nav-item span {
    margin-left: 10px;
}

nav .nav-item i {
    color: var(--blue);
    width: 22px;
}

/* nav .nav-item:hover {
    color: var(--blue);
    background-color: white;
} */

nav .nav-item:hover {
    animation: background-change 0.25s linear forwards;
}

main {
    grid-area: main;
    height: 2000px;
}

footer {
    grid-area: footer;
    background-color: var(--grey-darker);
}

@keyframes background-change {
    100% {  
        color: var(--blue);
        background-color: white;
    }
}

@keyframes background-default {
    0% {
        color: var(--blue);
        background-color: white; 
    }
    100% {
        color: white;
        background-color: var(--grey);
    }
}